/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import "font-awesome";

nav {
  background: image-url('map.png');
  width: 531px;
  height: 900px;
}

nav ul {
  float: right;
  clear: right;
  padding-top: 250px;
}
nav ul li a {
  color: white;
}

.search, .fav {
  margin-left: 50px;
  margin-top: 150px;
}

#results {
  margin-top: 40px;
  margin-left: 40px;
}

.search h1 {
  margin-left: 40px;
}

.gem-search {
  border: 1px solid black;
  border-radius: 50px;
  padding: 20px;
  margin-top: 30px;
}

#text-field {
  width: 85%;
  border: none;
}

.navbar-header {
  float: right;
}

h2, p {
  font-size: 15px;
}

p#error {
  color: red;
}

#results h2 {
  color: #2C2F33;
}

#results p#info {
  color: #8E8E8E;
}

#results ul, #favorites ul {
  list-style: none;
  padding: 0;
}

#results li {
  margin-top: 10px;
}

#favorites {
  margin-top: 60px;
}

#favorites li{
  margin-top: 20px;
}
