<ul id='fav-list'>
  <% if @favorites && @favorites != []%>
    <% @favorites.each do |favorite| %>
      <li><%= fa_icon 'star' %> <a href="<%=favorite['project_uri']%>"><%=favorite['name']%></a></li>
    <%end%>
  <% else %>
    <p>None</p>
  <%end%>
</ul>
