<ul id='fav-list'>
  <% if @favorites && @favorites != []%>
    <% @favorites.each do |favorite| %>
      <li><a href="<%=favorite['project_uri']%>"><%=favorite['name']%></a><%= fa_icon 'star' %></li>
    <%end%>
  <% else %>
    <p>None</p>
  <%end%>
</ul>
